@{
    ViewData["Title"] = "Home Page";
}
@model ChatGPTTestViewModel



@using (Html.BeginForm("QueryChatGPT", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="d-flex flex-column justify-content-center align-items-center">
        <h2>Upload</h2>

        <input asp-for="Dateiupload" type="file" class="mt-5">

        <button type="submit" class="mt-5 bg-primary text-white" >Submit</button>
    </div>
    
}

